html {
  font-family: "Heebo", sans-serif;
  font-weight: 100;
}

#contents {
  margin-top: .5rem;
}

#navbar img {
  height: 50%;
}

#navbar {
  box-shadow: 0px 1px 1px 0px rgba(191, 209,  210, 0.79);
}

.dropdown-menu {
  right: 0;
  left: auto;
}

.dropdown-menu a {
  color: #f2ddd6;
  font-weight: 300;
  font-size: 1rem;
}

.dropdown-menu a:hover {
  color: #add8e6; 
}

.jumbotron {
   height: 45rem;
   width: 100%;
   background-image: url("../images/main_background_1.gif");
   background-size: cover;
   background-position: center;
}

#main img {
  height: 10rem;
}

button {
  width: 10rem;
}

#button_projects a{
  color: white;
  text-decoration: none;
}

#button_projects {
  background-color:#abd7d8;
  border: none;
  color: white;
  box-shadow: 0px 1px 1px 0px rgba(191, 209, 210, 0.79);
  font-weight: 300;
  font-family: "Raleway"; 
  background-image: linear-gradient(#67a9a9, #67a9a9), linear-gradient(#67a9a9, #bfd1d2);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .2s ease-out;
}

#button_projects:hover {
  background-size: 100% 3px, auto;
}

#button_projects a:hover {
  color: #f2ddd6;
}

footer ul li a:hover {
  color: #1f928c;
}

#background {
  position: relative;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.websitepage-header h1 {
  color: #afdfe0;
  font-size: 2rem;
  font-weight: 300;
}


/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

.cardtext {
  height: 5rem;
  text-align: center;
  margin-top: 2rem;
}

.card {
  border: none;
}

.card:hover {
  box-shadow: 3px 5px 9px 4px rgba(115,115,115,0.75);
-webkit-box-shadow: 3px 5px 9px 4px rgba(115,115,115,0.75);
-moz-box-shadow: 3px 5px 9px 4px rgba(115,115,115,0.75);
}

.cardtext h6, h2 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.5rem;
}

.cardtext h2 {
  font-size: 2rem;
}

.cardtext h2 a {
  color: gray;
  text-decoration: none;
  -webkit-transition: color 2s; /* For Safari 3.0 to 6.0 */
  transition: color 2s; /* For modern browsers */
  }
    
.cardtext h2 a:hover {
   color: #058a8e;
}

/*  Design Page */
/*Websites Section*/

button a {
  color: white; 
}

.design {
  width: 45rem;
}

.design h2 {
  color: black;
  margin-top: 8rem;
  text-align: center;
}

#web-section {
  margin-top: 5rem;
  margin-bottom: 8rem;
  background-color: #fcf8f6;
}

#webcard_row {
  margin-top: 2rem;
  margin-left: 2rem;
}

.web-card img {
  width: 90%;
  height: 100%;
  overflow: hidden;
}

.web-card {
  overflow: hidden;
}

.card_text {
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.5rem;
}

.card_text:hover {
  color: #1f928c;
}

.color-overlay  {
  background-color: rgba(255, 255, 255, 0.541);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  width: 89%;
  height: 100%;
} 

.web-card:hover {
  transition: all .3s ease-in-out; 
  transform: scale(1.2); 
  overflow: hidden;
}

.web-card:hover .color-overlay {
  opacity: 1;
  overflow: hidden;
}

/*footer*/

footer {
  height: 20rem;
  background-color: #e6f3f7;
  color: gray;
  font-size: 0.9rem;
  font-weight: lighter;
  line-height: 2.5;
}

footer ul {
  list-style: none;
  padding-right: 3rem;
}

footer li {
  border-bottom: 1px solid #058a8e;
  text-align: center;
}

footer h3 {
  padding-left: 3rem;
}

footer a {
  color: inherit;
}


#gallery-grid img {
  width: 60px;
  height: 60px;
  padding: 5px;
}

#gallery-grid li {
    border-bottom: none;
}

.designpage-header h1 {
  color: #afdfe0;
  font-size: 2rem;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .web-card {
    margin: 0 auto;
  }
}


@media only screen and (max-width: 768px) {
  .web-card {
    margin: 0 auto;
  }
}

.album {
  background-color: #fcf8f6
}
